.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    width: auto;
    margin: 0;
    color: black;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    vertical-align: center;
    white-space: nowrap;
    text-decoration: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    user-select: none;
    height: 32px;
    padding: 0 16px;
    transition: background-color 200ms;
    border: none;

    &:disabled {
        color: white;
        background: darkgrey;
        cursor: auto;
    }
}

.disabled_link {
    color: white;
    background: grey;
    cursor: auto;
}

$danger: rgb(241, 66, 50);
$success: greenyellow;

$primary: aquamarine;

.primary {
  background-color: $primary;
  
  &:hover {
    background-color: darken($color: $primary, $amount: 15);
  }

  &:active {
    background-color: darken($color: $primary, $amount: 35);
  }
}

.danger {
  background-color: $danger;
  
  &:hover {
    background-color: darken($color: $danger, $amount: 5);
  }

  &:active {
    background-color: darken($color: $danger, $amount: 15);
  }
}

.success {
  background-color: $success;
  
  &:hover {
    background-color: darken($color: $success, $amount: 5);
  }

  &:active {
    background-color: darken($color: $success, $amount: 15);
  }
}