$danger: rgb(241, 66, 50);

.primary {
  background-color: aquamarine;
  
  &:hover {
    background-color: darken($color: aquamarine, $amount: 15);
  }

  &:active {
    background-color: darken($color: aquamarine, $amount: 35);
  }
}

.danger {
  background-color: $danger;
  
  &:hover {
    background-color: darken($color: $danger, $amount: 5);
  }

  &:active {
    background-color: darken($color: $danger, $amount: 15);
  }
}

.success {
  background-color: greenyellow;
  
  &:hover {
    background-color: darken($color: greenyellow, $amount: 5);
  }

  &:active {
    background-color: darken($color: greenyellow, $amount: 15);
  }
}